.blog_select{
  /* display: inline-flex; */
  width: 140px;
  /* border: 1px solid red; */
  font-family: "GwmFontSB";
  color: rgba(34, 50, 110, 1);
  padding: 5px;
  outline: none;
  background: none;
  background-color:white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px ;
  margin-left: 1000px;
}

div.breadcrumb{
display: block;
position: absolute;
margin-top: 20px;
/* border: 1px solid red; */
padding: 5px 10px;
margin-left: 130px;
border-radius: 5px;
}
div.breadcrumb ol.breadcrumb_list{
margin: 0;
padding: 0;
list-style: none;
font-size: 0;
font-family: "GwmFontSB"
}
div.breadcrumb ol.breadcrumb_list > li{
/*   border: 1px solid red; */
display: inline-block;
color: gray;
font-size: 1rem;
}

div.breadcrumb ol.breadcrumb_list > li::before{
content: ">";
font-size: 18px;
color: gray;
margin: 0 10px;
}

div.breadcrumb ol.breadcrumb_list > li:first-child::before{
display: none;
}


div.breadcrumb ol.breadcrumb_list > li > a{
/*   border: 1px solid blue; */
text-decoration: none;
display: inline-block;
color: rgba(34, 50, 110, 1);
}

div.breadcrumb ol.breadcrumb_list > li > a:hover{
text-decoration: underline;
color: rgb(198 53 39);
}

div.content{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

div.content article img{
  width: 400px;
}

div.content article {
  border: 2px solid rgb(144, 119, 101);
  box-shadow: 2px 2px 1px rgb(144, 119, 101);
  border-radius: 10px;
  display: inline-flex;
  height: 280px;
  color: white;
  width: 1000px ;
  align-items: center;
  background-color: rgba(171, 140, 117,0.8);
  margin: 20px auto;
  overflow: hidden;
}
div.content article div{
  display: inline-flex;
  flex-flow: column;
  /* border: 1px solid blue; */
}

div.content > article > div h1{
  font-family: "GwmFontSB";
  font-size: 1.5rem;
  margin: 10px auto;
  /* border: 1px solid black; */
}
div.content article > div p{
  font-family: "GwmFontR";
  font-size: 1rem;
  /* border: 1px solid black; */
  margin: 0 60px;
  text-indent:2rem;
  letter-spacing: 0.3px;
  line-height: 1.5;
  text-align: left;
  white-space: pre-wrap;
  width: 480px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

div.content article > div p2{
  margin: 10px 10px;
  text-align: right;
  /* border: 1px solid black; */
  font-family: "GwmFontR";
  font-size: 0.5rem;
}

article a img{
  vertical-align: bottom;
  /* border: 1px solid red; */
  height: 280px;
  font-size: 0;
}
div.content article:nth-child(2){
  flex-flow: row-reverse;
}

div.content article:nth-child(4){
  flex-flow: row-reverse;
}
