


div.blog_container{
  background-color: rgb(217,217,214);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.blog_select{
  display: inline-flex;
  align-self: end;
  width: 15%;
  min-width: 180px; 
  border: 1px solid red;
  
  font-family: serif;
  font-weight: bold;
  color: rgba(34, 50, 110, 1);
  padding: 5px;
  outline: none;
  background: none;
  background-color:white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px ;
  
}
div.blog_container main{
  /* border: 1px solid green; */
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border: 1px ;
  width: 100%;
}



div.blog_container main article {
  /* border: 2px solid rgb(231, 7, 7); */
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  color: lightblack;
  width: 70%;
  height: auto;
  margin: 80px auto;
  
}


div.blog_container article div{
  display: inline-flex;
  flex-flow: column;
  justify-content: flex-start;
  /* border: 1px solid blue; */
  width: 90%;
}

div.blog_container  article h1{
  padding-left: 20px;
  letter-spacing: 1.5px;
  color: rgb(41, 43, 44);
  background-color:white;
  display: block;
  font-family: serif;
  font-size: 2rem;
  margin: 20px 0;
  border-left: 4px solid rgba(34, 50, 110, 1); 

}

@media (max-width:767px) {
  div.blog_container  article h1{
    font-size: 1.5rem;

  }
}


div.blog_container  article  div p:first-child{
  background-color:rgb(255, 255, 255);
  padding: 10px;
  border-left: 4px solid rgba(34, 50, 110, 1); ;
  margin: 30px 0 20px 0;
}

div.blog_container  article  div p{
  
  font-family: serif;
  font-weight: bold;
  font-size: 1.2rem;
  /* border: 1px solid rgb(73, 71, 71); */
  text-indent:2rem;
  letter-spacing: 0.3px;
  line-height: 1.5;
  justify-content: flex-start;
  white-space: wrap;
  overflow: hidden;
  
}

div.blog_container  article  div span{
  align-self: end;
  margin-top: 20px;
}

article a{
  width: 70%;
  justify-content: center;
  border: 1px solid rgb(231, 234, 240);
  overflow: hidden;
}

@media(max-width:767px){
  article a{
    width: 100%;
  }
}
article a img{
  vertical-align: bottom;
  /* border: 1px solid rgb(250, 189, 189); */
  width: 100%;
  font-size: 0;
}
div.content article:nth-child(2){
  flex-flow: row-reverse;
}

div.content article:nth-child(4){
  flex-flow: row-reverse;
}
