
/* 整個頁籤及內容最外層區塊 */
div.tab_container{
  display: block;
}

/* 頁籤區塊 */
div.tab_container div.tab_list_block{
  padding-left: 80px;
  padding-top: 50px;
}
@media (max-width:767px){
  div.tab_container div.tab_list_block{
    width: 100%;
    /* border: 1px solid red; */
    padding-left:0;
  }
}

/* 頁籤列表 */
div.tab_container div.tab_list_block ul.tab_list{
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
div.tab_container div.tab_list_block ul.tab_list > li{
  display: inline-block;
}
div.tab_container div.tab_list_block ul.tab_list > li > a{
  font-family: "serif";
  text-decoration: none;
  display: inline-block;
  /* border: 1px solid rgba(34, 50, 110, 1); */
  padding: 8px 20px;
  background-color: rgba(34, 50, 110, 1);
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  color: white;
  position: relative;
  top: 1px;
}



div.tab_container div.tab_list_block ul.tab_list > li > a.-on{
  /* border: 1px solid rgba(34, 50, 110, 1); */
  background-color: rgb(217 217 214);
  box-shadow: 2px 0px 2px, 1px 1px 2px white inset;
  border-bottom: 1px solid rgb(217 217 214);
  color: rgba(34, 50, 110, 1);
}




/* 頁籤內容區塊 */
div.tab_container div.tab_contents{
  display: block;
  background-color: rgb(217 217 214);
  margin-top: 0px;
}

div.tab_container div.tab_contents div.tab{
  padding: 10px;
  display: none;

}

div.tab_container div.tab_contents div.tab.-on{
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 20px;
  margin: 0px auto;
  padding: 20px;
}
div.tab_container div.tab_contents div.tab.-on div.p{
  display: flex;
  border-bottom: 1px dashed rgba(34, 50, 110, 1);
  overflow: hidden;
  
}


div.tab_container img{
  height: 100%;
  position: absolute;
  /* width: 100%; */
  vertical-align: bottom;

}
div.tab_container div.tab_contents div.tab a{
  display: flex;
  position: relative;
  /* border:1px solid rgb(58, 94, 156) ; */
  width: 40%;
  overflow: hidden;
}



div.tab_container div.p div {
  vertical-align: top;
  text-align: left;
  line-height: 1.2;
  white-space: pre-line;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 60%;
  font-size: 1rem;
  font-family: "serif";
  color: rgba(34, 50, 110, 1);
}

.tab_container div.p div h2{
  display: inline-flex;
  width: 10%;
  justify-content: center;
  padding: 5px;
  writing-mode:vertical-lr  ;
  /* flex-shrink: 0; */

}
@media (max-width:767px){
  div.tab_container div.p div{
    flex-direction: column;
  }
  .tab_container div.p div h2{
    width: 100%;
    writing-mode:unset;
  }
}
div.tab_container div.p div p{
  /* display: inline-flex; */
  text-overflow:ellipsis;
  
  width: 90%;
  /* flex-shrink: 0; */

}
div.tab_container div.p div a.signup{
  display: inline-flex;
  justify-content:center;
  width: 20%;
  align-items: center;
  margin-right: 5px;
  align-self: flex-end;
  font-family: "serif";
  height: 15px;
  align-items: center;
  color: white;
  font-size: 1rem;
  border: none;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(171 140 117);
  box-shadow: 1px 1px 2px white inset,1px 1px 3px grey;


}

@media (max-width:767px) {
 
  div.tab_container div.tab_contents div.tab.-on div.p{
    flex-direction: column;
  }
  div.tab_container div.tab_contents div.tab a{
    width: 100%;
    height: 200px;
    justify-content: center;
  }
  div.tab_container div.p div a.signup{
    width: 15%;
    height: 5%;
  }
  div.tab_container div.p div {
    width: 100%;
  }
}