@import "./common/footer.css";
@import "./common/all.css";
@import "./common/header.css";

/* ======================關於我們========================== */
@import "./aboutus.css";


div.autoplay{
  /* border: 1px solid #28FF28; */
  width: 100%;
  margin: auto;

}


  div.slide{
    overflow: hidden;
    display: inline-block;
    /* border: 1px solid black; */
    height: 400px;
    position: relative;
  
  }



  div.slide{
    overflow: hidden;
    display: inline-block;
    /* border: 1px solid black; */
    width: 600px;
    position: relative;
  }
  div.slide img{
  min-width: 100%;
  }

.slide h1{
  font-family: "serif";
  font-size:  1.5rem;
  padding: 10px;
  background: rgba(217, 217, 214, 0.8);
  color:white;
  position: absolute;
  top:0%;
  right:5%;
  height: 100%;
  letter-spacing: 5px;
  writing-mode: vertical-lr;

}

button.slick-arrow{
  z-index: 90;
  color: white;
  position: absolute;
  width: 10%;
  /* border: 1px solid white; */

}

.slick-prev:before, .slick-next:before {
  width: 100%;
  font-size: 32px;
  /* border: 1px solid blue; */
}

button.slick-prev{
  height: 100%;
  transform-origin: 0 0;
  left: 10px;
  transition: left .2s;
}


button.slick-next{

  height: 100%;
  right: 10px;

}

.slick-prev:hover{
  left:0px;
  transition: left .3s;
}

.slick-next:hover{
  right:0px;
  transition: right .3s;
}



#go_top{
  width: 50px;
  height: 50px;
  background: none;
  z-index: 110;
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: none;
  font-size: 20px;
  line-height: 1;
  outline: none;
  cursor: pointer;
}
@media (max-width:767px) {
  div.autoplay{
    /* border: 1px solid #c228ff; */
    width: 100%;
    margin: auto;
    max-height:500px ;
  }

  .slide h1{
    font-family: "serif";
    font-size: 1.2rem;
    padding: 10px;
    background: rgba(217, 217, 214, 0.8);
    color:white;
    position: absolute;
    top:0%;
    right:5%;
    height: 100%;
    letter-spacing: 5px;
    writing-mode: vertical-lr;
  
  }

}

 /* ====================活動==================== */

div.event{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  /* border:2px solid purple; */
}



div.main_content{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  /* border:2px solid green; */
  width: 100%;
  justify-content:space-around;
}

@media screen and (max-width:767px){
  div.main_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border:1px solid green; */
    width: 100%;
  }
}

@media screen and (max-width:414px){
  div.main_content{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width:767px){
.main_content .arrow {
  display:none;
 }
}



.date_circle{
  background-color: rgb(217, 217, 214, 1);
  box-shadow: 1px 1px 2px;
  position: absolute;
  left: -10px;
  top: -10px;
  font-size: 1.5rem;
  transform-origin: center;
  text-align: center;
  padding-top: 20px;
  font-family: "serif";
  vertical-align: middle;
  transform: scale(80%);
  transition: transform .2s;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.card:hover .date_circle{
  transform: scale(100%);
}
@media screen and (max-width:767px) {
  .card img{
    max-width: 100%;
  }
}
@media screen and (max-width:767px) {
  .date_circle{
    left: -5px;
    top: -5px;
  }
}

.card{
  position: relative;
  display: block;
  margin: 10px;
  font-size: 0;
  overflow: hidden;
  
}

@media screen and (max-width:767px){
  .card{
    flex-shrink:0 ;
    display: flex;
    flex-direction: column;
    width: 40%;
    overflow:visible;
  }
}

@media screen and (min-width:768px){
  .card:hover div.eve{
  transform: translateY(-100%);
 }
}

@media screen and (max-width:414px){
  .card{
    flex-shrink: none;
    display: flex;
    flex-direction: column;
    width: 90%;
    overflow:visible;
  }
}

div.eve{
  color: #2E2E2E;
  font-family: "serif";
  font-weight: bold;
  line-height: 1.6;
  text-align: left;
  padding-left: 10px;
  display: block;
  font-size: 1rem;
  width: 100%;
  white-space: pre-line;
  position: absolute;
  transform: translateY(0%);
  background-color: rgb(217, 217, 214, 0.8);
  transition: transform .5s;
}

@media screen and (max-width:767px){
  div.eve{
  
  display: flex;
  flex-direction: column;
  position: static;
  transform: none;
  text-align: center;
  background-color: rgb(217, 217, 214, 1);
  justify-content: center;

  }
}

.other_notes{
  color: #2E2E2E;
  justify-content: center;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  line-height: 1.5;

}

.eve .hint_text{
  font-family: "serif";
  font-size: 1.2rem;
}
@media screen and (max-width:767px){
  .eve .hint_text{
    border-bottom: 1px solid white;
    font-size: 1rem;

  }
  
}


.eve .eve_sign_up{
font-family: "serif";
align-self: center;
display: inline-flex;
 /* border: 1px solid blue; */
 border-radius: 10px;
 padding: 5px;
 box-shadow: 1px 1px 2px 1px white inset, 1px 1px 2px grey ;
}

.eve .eve_sign_up.-on{
  box-shadow: 1px 1px 2px 1px gray inset, 1px 1px 2px white ;
 
}
@media (max-width:767px) {
  .eve .eve_sign_up{
    margin-bottom: 10px;
  }
}









/* ==========================文章 ========================== */
.container{
  display: block;
  overflow: hidden;
}


section.content{
 display: flex;
 flex-direction: column;
 margin: 0 auto 100px auto;
 /* border: 2px solid green; */
}

@media screen and (max-width:767px) {
  section.content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.hgtitle{
  /* border: 1px solid red; */
  border-bottom: 1px dashed white;
   background-color: rgb(217,217,214);
   width: 90%;
   margin: 20px auto;
   padding: 5px;
   letter-spacing: 1rem;
   display: flex;
   color: rgba(34, 50, 110, 1);
   font-family: "serif";
   text-align: center;
   justify-content: center;
}

.hgtitle h1{
  /* border:1px solid blue; */
  font-family: "serif"; 
   font-size: 1.5rem;
}





.hgtitle p{
   font-size: 1rem;
   font-family: "serif";
   display: flex;
   align-self: center;

}

@media (max-width:414px) {
  .hgtitle h1{
    /* border:1px solid blue; */

    font-family: "serif"; 
     font-size: 1rem;
  }
  .hgtitle p{
    font-size: .8rem;

  }
}
.content article a.pic{
  /* border:1px solid green; */
  position: relative;
  height: 350px;
  width: 50%;
  overflow:hidden;
}


.content article a img{
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width:767px) {
  .content article a{
    position: static;
    display: flex;
    min-width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .content article a.pic{
   
    height: auto;
   
  }

  .content article a img{
    position: static;
    min-height: 100%;
    min-width: 100%;
    margin: 0 auto;
  }
}
section.content article {
   display: inline-flex;
   width: 70%;
   color: #2E2E2E;
   /* border: 1px solid orange; */
   align-items: center;
   margin: 10px 40px;
   background-color: rgb(217,217,214);
   overflow: hidden;
}

@media screen and (max-width:767px) {
  section.content article{
    height: 0%;
    width:90%;
    margin: 10px 0;
    flex-direction: column;
  }
}


section.content article div{
   width: 50%;
   display: flex;
   flex-direction: column;

 /* border: 1px solid blue; */
}



section.content > article > div h1{
 white-space: pre-line;
 width: 90%;
 text-align: center;
 border-bottom: 2px dotted white;
 font-family: "serif";
 font-size: 1.5rem;
 margin: 20px auto;
 padding-bottom: 20px ;
 /* border: 1px solid black; */
}

section.content article > div p{

 font-family: "serif.light";
 font-weight: bolder;
 font-size: 1.2rem;
 /* border: 1px solid black; */
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 6;
 overflow: hidden;
 margin: 5px 20px;
 letter-spacing: 0.5px;
 text-indent:2rem;
 line-height: 1.5;
 white-space: normal;
}
@media screen and (max-width:767px) {
  section.content article div{
   width: 100%;
   /* border: 1px solid blue; */
  }
  section.content > article > div h1{
    font-size: 1.2rem;
  }

}
/* ====================seemore================ */
 a.seemore{
  color: #525252;
  cursor: pointer;
  display: inline-flex;
  width: 100px;
  align-self: flex-end;
  border: none;
  background: none;
  justify-content: right;
  font-family: "serif";
  text-align: right;
  padding: 10px;
  background-image:linear-gradient(to right, rgba(171, 140, 117,0.8), rgb(217,217,214));
  transition: width 1s;
}
a.seemore:hover{
  width: 100%;
  font-size: 1rem;

}

@media screen and (max-width:767px){
  section.content article > div p{
    font-size: 1rem;
    padding: 15px;
    margin: 0 auto;
    display: block;
    /* border: 1px solid black; */
    /* display: block; */
    width: 100%;
  }
}

@media screen and (min-width:767px){
  section.content article:nth-child(2n){
   flex-flow: row-reverse;
   align-self: flex-end;
  }

}




