@import "./common/all.css";
@import "./common/footer.css";
@import "./common/sidebar.css";



div.shop_banner_img{
  width: 100%;
  position: relative;
  overflow: hidden;
}

div.shop_banner_img img{
  min-width: 100%;
}

div.shop_banner_img div{
  
  /* border: 1px solid red; */
  font-family: "serif.light";
  position: absolute;
  text-transform: uppercase;
  line-height: 1.4;
  text-align: center;
  letter-spacing:8px;
  left:30%;
  bottom: 35px;
  color: rgba(34, 50, 110, 1);
  transition: all 1s;
}
div.shop_banner_img h1 {
  font-size: 3rem;
}

div.shop_banner_img div p{
letter-spacing: 5px;
font-size: 0.5rem;
}
@media (max-width:767px) {
  div.shop_banner_img div{
    color: aliceblue;
    writing-mode: vertical-lr;
    left:10%;
    bottom: 15px;
  }

  div.shop_banner_img h1 {
    letter-spacing: 5px;
    font-size: 2rem;
    }
}

                                      /* 麵包屑 */
div.breadcrumb{
  display: flex;
  margin-top: 20px;
  border: 1px solid red;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
}
div.breadcrumb ol.breadcrumb_list{
  display: flex;
  flex-direction: row;
  /* border: 1px solid rgb(66, 48, 121); */
  margin: 0;
  padding: 0;
  list-style: none;
  font-family:"serif.black";

}
div.breadcrumb ol.breadcrumb_list > li{
  /* border: 1px solid red; */
  display: inline-flex;
  color: gray;
  font-size: 1rem;
}




div.breadcrumb ol.breadcrumb_list > li::before{
  content: ">";
  font-size: 18px;
  color: gray;
  margin: 0 10px;
}

div.breadcrumb ol.breadcrumb_list > li:first-child::before{
  display: none;
}



div.breadcrumb ol.breadcrumb_list > li > a{
  /*   border: 1px solid blue; */
  text-decoration: none;
  display: inline-block;
  color: rgba(34, 50, 110, 1);
}


div.breadcrumb ol.breadcrumb_list > li > a:hover{
  text-decoration: underline;
  color: rgb(198 53 39);
}

                              
  
                                      /* 商品區 */
div.parent_container main.main{
  border: 1px solid green;
  
}

  .grid-container {
  border: 1px solid red;
  display: grid;
  justify-content: center;
  grid-template-columns: 25% 25% 25% ;
  gap: 30px 30px;
  transition: all 1s;
}

@media (max-width:767px) {
  .grid-container{
    grid-template-columns: 40% 40%;
  }
}
@media (max-width:414px) {
  .grid-container{
    grid-template-columns: 80%;
  }

}



.grid-item {
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid red;
  box-shadow: 2px 2px 10px grey;
  margin: 0;
  text-align: center;
  font-size: 0;
  position: relative;
}


.grid-item img{
  width: 100%;
  height: 100%;
  
}
.grid-item p button{
  font-family: "serif.light";
  font-size: 1rem;
  color: white;
  padding:10px;
  margin-top: 10px;
  box-shadow: 1px 1px 4px rgb(98 82 70),1px 1px 2px rgba(255, 250, 250, 1) inset;
  background-color: rgb(171 140 117);
  border-radius: 10px;
  border: none;
  }
a.grid-item p{
 font-family: "serif.black";
 font-size: 1rem;
 width: 100%;
 display: block;
 /* border: 1px solid red; */
 padding: 10px;
 position: absolute;
 bottom: 0;
 margin-bottom: 0;
 background-color: rgba(255, 255, 255, 0.8);
 transform: translateY(70%);
 transition: transform .5s;
}
  .grid-item:hover p{
   transform: translateY(0%);
}
  @media (max-width:767px) {
  a.grid-item{
    height: 100%;
    display: block;
    overflow:hidden;
    position: static;

  }  
  a.grid-item:last-child{
    display: none;
  }
  a.grid-item img{
    
    height: auto;
  }
  a.grid-item p{
    
    padding: 0px;
    transform: translateY(0);
    position:relative;
  }
  .grid-item p button{

    display: none;
    padding:5px;
  }

} 
                                    /* pagination */
div.pagination_block{
display: block;
/* border: 1px solid red; */
margin-bottom: 100px;
}
div.pagination_block > ul.pagination{
display: inline-block;
/* border: 1px solid blue; */
list-style: none;
margin-left: 50%;
transform: translateX(-50%);
padding: 0;
font-size: 0;
}
div.pagination_block > ul.pagination > li{
display: inline-block;
}
div.pagination_block > ul.pagination > li > a{
display: inline-block;
text-decoration: none;

text-align: center;
padding: 4px 10px;
font-size: 1rem;
color: rgba(34, 50, 110, 1);
}


div.pagination_block > ul.pagination > li:last-child > a{
background-color: white;
border-right: 1px ;
border-radius: 50px;
box-shadow: 2px 2px 3px grey;
}

div.pagination_block > ul.pagination > li:first-child > a{
background-color: white;
display: inline-block;
border-radius: 50px;
box-shadow: 2px 2px 3px grey;
}

div.pagination_block > ul.pagination > li > a.-on{
background-color: rgba(34, 50, 110, 1);
color: white;
}

div.pagination_block > ul.pagination > li > a:hover{
background-color: #e9ecef;
color: #0056b3;
}

