@import "./common/all.css";
@import "./common/footer.css";
@import "./common/header.css";
@import "./common/sidebar.css";




                                        /* 麵包屑 */
div.breadcrumb{
  display: flex;
  margin-top: 20px;
  /* border: 1px solid red; */
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  }
  div.breadcrumb ol.breadcrumb_list{
    display: flex;
    flex-direction: row;
    /* border: 1px solid rgb(66, 48, 121); */
    margin: 0;
    padding: 0;
    list-style: none;
    font-family:"serif.black";
  
  }
  div.breadcrumb ol.breadcrumb_list > li{
    /* border: 1px solid red; */
    display: inline-flex;
    color: gray;
    font-size: 1rem;
  }
  
  
  
  
  div.breadcrumb ol.breadcrumb_list > li::before{
    content: ">";
    font-size: 18px;
    color: gray;
    margin: 0 10px;
  }
  
  div.breadcrumb ol.breadcrumb_list > li:first-child::before{
    display: none;
  }
  
  
  
  div.breadcrumb ol.breadcrumb_list > li > a{
    /*   border: 1px solid blue; */
    text-decoration: none;
    display: inline-block;
    color: rgba(34, 50, 110, 1);
  }
  
  
  div.breadcrumb ol.breadcrumb_list > li > a:hover{
    text-decoration: underline;
    color: rgb(198 53 39);
  }



  
                                   /* 商品區 */



div.product-img{
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border:1px solid red; */
  transition: all .8s;
}

@media (max-width:767px) {
  div.product-img{
   max-width: 90%;
    
  }
}
.product-img .big-img-container{
  width: 100%;
  justify-content: center;
  display: flex;
  /* border: 2px solid pink; */

}
.product-img .big-img{
  width: 100%;
  /* border: 1px solid yellow; */
  border-radius: 5px;
}

.product-img .small-imgs{
  /* border: 1px solid rgb(109, 109, 143); */
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.product-img .small-imgs img{
  width: 30%;
  cursor: pointer;
  /* border: 1px solid red; */
  border-radius: 5px;
}

.product-ifo{
  color:rgba(34, 50, 110, 1);
  width: 50%;
  padding-left: 20px;
  text-align: left;
  /* border: 1px solid blue; */
}
@media (max-width:767px) {
  .product-ifo{
   width: 90%;
    
  }
}

.product-ifo h1{
  font-family: "serif.black";
  font-size: 1.5rem;
  line-height: 1.4;
}
.product-ifo ol li{
  list-style: initial;
  font-family: "serif.light";
  font-weight: bold;
  font-size: 1rem;
  /* border: 1px solid red; */
  margin:0px;
}
.product-ifo p, .product-ifo ol{
  line-height: 1.5;
  font-family: "serif.light";
  font-weight: bold;
  font-size: 1rem;
  white-space: pre-line;
  text-align: left;
}

.product-ifo a.heart{
  background-image: url("../icon/heart.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  display: inline-block;
  /* border: 1px solid red; */
}

.product-ifo a.share img{
  /* border: 1px solid red; */
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
}

.product-ifo a.heart:active{
background-image: url("../icon/solidheart.png");

}
.product-ifo a.buy{
  display: inline-block;
  font-family: "GwmFontR";
  color: white;
  border-radius: 10px;
  padding: 15px;
  background-color: rgb(171 140 117);
  box-shadow: 2px 1px 4px white inset,1px 1px 3px grey;
  /* margin-top: 20px; */
  margin-left: 80px;
}

.product-ifo img{
  display: inline-block;
  width: 30px;
  vertical-align: middle;
}
.product-ifo a.buy:active{
  font-family: "GwmFontR";
  color: white;
  border-radius: 10px;
  padding: 15px;
  background-color:  rgba(34, 50, 110, 1);
  box-shadow: 2px 1px 4px black inset, 1px 1px 2px 1px white;
}

.custom_select{
  display: inline-block;
  /* border: 1px solid red; */
  font-family: "GwmFontSB";
  color: rgba(34, 50, 110, 1);
  padding: 8px;
  outline: none;
  background: none;
  background-color:white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px ;
  margin-top: 50px;
  margin-left: 30px;
}

.product_article{
  width: 90%;
  vertical-align: top;
  color:rgba(34, 50, 110, 1);
  line-height: 1.4;
  text-align: center;
  
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid rgb(217, 253, 119); */
}
.product_article h1{
  width: 100%;
  background-image: url(../icon/brown_linevertical.png);
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 40px 0;
  letter-spacing: 2px;
  text-align: center;
  /* border: 1px solid black; */
  white-space: pre-line;
}

.product_article div.introduce_img{
  height: 50%;
  width: 50%;
  overflow:hidden ;
}

.product_article div.introduce_img img{
  width: 100%;
  height: auto;
}
.product_article div{
  width: 80%;
  justify-content: space-around;
  position: relative;
  /* border: 1px solid rgb(28, 156, 49); */
  text-align: center;
  font-family: "serif.black";
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@media (max-width:767px) {
  .product_article div{
  flex-direction: column;
  flex-wrap: nowrap;
  }
}


.introduce div.ul{
  display: inline-block;
  /* border: 1px solid black; */
  width: 50%;
  text-align: left;
  /* margin-top: 80px; */
  height: 400px;
  vertical-align: top;
}

@media (max-width:767px) {
  .introduce div.ul{
  width: 100%;
  }

  .product_article div.introduce_img {
  width: 100%;
  }

  .product_article h1{
  font-size: 1.5rem;
  }
}

div.ul p{
  text-indent: 1.5rem;
  margin: 0 20px;
}
article.article div.introduce  div.ul  p, .introduce  div.ul ul{
  font-size: 1rem;
  /* border: 1px solid yellow; */
  margin-top: 50px;
}

div.Gao img{
  width: 100%;
}
p.Gao{
  white-space: pre-line;
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.2rem;
  text-align: left;
  /* border: 1px solid black; */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
div.related{
  width: 80%;
}
div.related div{
  width: 100%;
  /* border: 1px solid plum; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  overflow-x: scroll;
  gap: 0px;
  transition: all 1s;
}

div.related a.recommed{

  flex-shrink: 0;
  display: inline-flex;
  flex-direction: column;
  /* border: 2px solid rgb(8, 8, 8); */
  width: 30%;
  border-radius: 10px;
  
}


div.related a.recommed img{
  display: block;
  /* border: 1px solid red; */
  width: 100%;
}

@media (max-width:767px) {
  div.related div{
    width: 100%;
    justify-content: left;
    gap: 5%;
  }
  div.related a.recommed{
    width: 50%;
  }
}