*{
  box-sizing: border-box;
  margin: 0px;

}
body{

  background-image: url(../../images/background.png);
  min-width: 375px;
}

@font-face{
font-family: "serif";
src: url("../../fonts/NotoSerifTC-Black.otf");
font-display: swap;
}
@font-face {
font-family: "serif.light";
src: url("../../fonts/NotoSerifTC-Light.otf");
font-display: swap;
}

a{
  text-decoration: none;
  color:rgba(34, 50, 110, 1);
}
p{
  font-family: serif;
  line-height:1.5em;
  font-size: 1rem;
}
@media screen and (max-width:768px){
  p{
    font-family: serif;
    line-height:1.5em;
    font-size: 1rem;
    font-weight: 300;
  }
}

h2{
  font-family: serif;
  font-size: 1.2rem;
}

h1{
  font-family: serif;
  font-weight: bold;
  font-size: 2rem;


}
