div.breadcrumb{
display: inline-block;
position: absolute;
margin-top: 20px;
/* border: 1px solid red; */
padding: 5px 10px;
margin-left: 200px;
border-radius: 5px;
min-width: inherit;
}
div.breadcrumb ol.breadcrumb_list{
margin: 0;
padding: 0;
list-style: none;
font-size: 0;
font-family: "serif"
}
div.breadcrumb ol.breadcrumb_list > li{
/*   border: 1px solid red; */
display: inline-block;
color: gray;
font-size: 1rem;
}

div.breadcrumb ol.breadcrumb_list > li::before{
content: ">";
font-size: 18px;
color: gray;
margin: 0 10px;
}

div.breadcrumb ol.breadcrumb_list > li:first-child::before{
display: none;
}



div.breadcrumb ol.breadcrumb_list > li > a{
/*   border: 1px solid blue; */
text-decoration: none;
display: inline-block;
color: rgba(34, 50, 110, 1);
}


div.breadcrumb ol.breadcrumb_list > li > a:hover{
text-decoration: underline;
color: rgb(198 53 39);
}
