
 footer{
  display: flex;
  flex-direction: row;
  padding: 20px ;
  line-height: 1.4;
  background-color: rgb(34, 50, 110, 1);
  margin-bottom: 10px;
  color: white;
  font-family: ""serif".light";
}

@media screen and (max-width:767px){
  footer{
    flex-direction: column;
    align-items: left;
  }
}

div.contact{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  width: 60%;
  
}
div.contact div.aderss{
  width: 100%;
  gap: 10px;
  /* border: 1px solid lightblue; */
  display: inline-flex;
  flex-direction: row;
  
}
div.contact div.aderss div{
  /* border: 1px solid lightpink; */
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

div.contact div img{
  width: 20px;
  margin-top:10px;
  /* border: 1px solid red; */
}

div.footerlogo{
  width: 100px;
}

@media screen and (max-width:767px){
  div.footerlogo{
    display: none;
  }
}

footer > div{
  /* border: 1px solid white; */
  width:20%;
  display: flex;
  flex-direction: column;
  font-family: "serif.light";

}

@media screen and (max-width:767px){

  footer > div{
    display: flex;
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
  }
  div.contact{
    width: 100%;
  }
  footer > div:last-child{
    border-bottom: none;
  }
}
  iframe{
  height: 180px;
  width: 40%;
}



footer div h3,div h3{
  text-align: left;
  font-size: 1.3rem;
  display: inline-flex;
  /* border: 1px solid red; */
  font-family: "serif";

  flex-direction: column;
  margin-bottom: 10px;
}
@media screen and (max-width:767px){

  footer div,footer div h3,div h3,div h4 {
    font-size: 1.2rem;
    font-family: "serif";
    font-weight: bold;
  }

}



footer > div p,footer > div a{
  text-align: left;
  margin-bottom: 15px;
  /* border: 1px solid white; */
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
footer > div a:hover{
  color: rgb(161, 37, 37);
}

@media screen and (max-width:767px){

  footer > div p,footer > div a{
    font-size: 1rem;
    font-family: "serif";
  }

}







p.tibame{
  margin-bottom:10px;
  text-align: center;
  line-height: 1.4;
  font-family: "serif";
  font-size: 1rem;
}
