
 footer{
  /* flex-shrink: 0; */
  display: flex;
  flex-direction: row;
  padding: 30px ;
  line-height: 1.4;
  /* height: 400px; */
  background-color: rgb(34, 50, 110, 1);
  margin-bottom: 10px;
  color: white;
  font-family: "serif.light";
}

@media screen and (max-width:767px){
  footer{
    flex-direction: column;
    align-items: left;
  }
}


div.contact div img{
  width: 20px;
  margin-top:10px;
  /* border: 1px solid red; */
}

div.footerlogo{
  width: 100px;
}
@media screen and (max-width:767px){
  div.footerlogo{
    display: none;
  }
}

footer > div{
  /* border: 1px solid white; */
  width:230px;
  display: flex;
  margin-left: 15px;
  flex-direction: column;
  /* overflow: hidden; */
  /* text-align: center; */
}

@media screen and (max-width:767px){
  footer > div{
    display: flex;
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
  }
  footer > div:last-child{
    border-bottom: none;
  }
}
  iframe{
  height: 180px;
  width: 200px;
}



footer div h3,div h3{
  text-align: left;
  font-size: 1.3rem;
  display: inline-flex;
  /* border: 1px solid red; */
  flex-direction: column;
  margin-bottom: 10px;
}
@media screen and (max-width:767px){

  footer div,footer div h3,div h3,div h4 {
    font-size: 1.2rem;
    font-family: "serif.black";
  }

}



footer > div p,footer > div a{
  text-align: left;
  margin-bottom: 15px;
  text-decoration: none;
  /* border: 1px solid white; */
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
@media screen and (max-width:767px){

  footer > div p,footer > div a{
    font-size: 1rem;
    font-family: "serif.light"
  }

}





div.follow img{
  margin-bottom: 10px;
  width: 50px;
  /* border: 1px solid yellow; */
}
p.tibame{
  margin-bottom:10px;
  text-align: center;
  line-height: 1.4;
  font-family: "serif.light";
  font-size: 0.5rem;
}
