


body{
  /* border: 2px solid red; */
}


div.header{
  border : 1px solid green;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(217, 217, 214);
  position: sticky;
  z-index: 110;
  top:0;
  
}


div.header.-scroll-down{
  flex-direction: row;
  padding-left: 20px;
  box-shadow: 1px 1px 2px grey;
}


@media screen and (max-width:767px){
  div.header{
    display: inline-flex;
    background-color: rgb(217, 217, 214);
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
}




a.logo{
  /* border: 1px solid red; */
  display: flex;

  /* font-size: 0; */
}



@media screen and (max-width:767px){
  div.top{

    height: 100%;
    /* border: 1px solid green; */
    padding: 0;
  }

  a.logo{
    /* border: 1px solid yellow; */
    width: 50%;
    margin: 0 auto;
  }
}

a.logo img{
  width: 100px;
  /* border: 1px solid red; */
  padding: 0;
}






/* 選單 */


.global_nav{
  /* border: 2px solid yellow; */

  display:  flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom:10px;
  padding: 10px 0;
}


@media screen and (min-width:768px){


  .global_nav{
    display: flex !important;
  }
}

@media screen and (max-width:767px){

  .main_nav{
    width:70%;
    display: flex;
    flex-direction: row;
  }

  .global_nav{
    border: 1px solid blue;
    width: 100%;
    display: none;

  }

}





span.title{
  letter-spacing: 1.5px;
  font-size: 1rem;
  font-family: "serif.black";
  font-weight: bold ;
  text-align: center;
  justify-content: center;
  /* border: 1px solid green; */
  position: relative;
  display: flex;
  width:20%;
  /* transition-duration: 0.2s; */
}
@media screen and (max-width:767px){
  span.title{
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  flex-direction:row;
  margin: 8px 0;
  }
}



.hamburger_icon{

  display: none;
}
@media screen and (max-width:767px){
  .hamburger_icon{
    display: inline-block;
    border:none;
    width: 45px;
    height: 42px;
    position: relative;
    cursor: pointer;
    outline: none;
    background: none;
  }

   button.hamburger_icon span.-hr{
    height: 2px;
    width: 100%;
    background-color: rgba(34, 50, 110, 1);
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

   button.hamburger_icon span.-hr.-top{
      top:25%;
    }

    button.hamburger_icon span.-hr.-bottom{
      top: 75%;
    }


    button.hamburger_icon.-on span.-hr.-top{
      transform-origin: 0% 50%;
      top: 5px;
      left: 5px;
      width: 100%;
      transform: rotate(45deg);
      transition: transform .5s;
    }

    button.hamburger_icon.-on span.-hr.-middle{
      opacity:0;
    }

    button.hamburger_icon.-on span.-hr.-bottom{


      transform-origin: 0% 50%;
      bottom: 5px;
      left: 5px;
      width: 100%;
      transform: rotate(-45deg);
      transition: transform .5s;
      top: auto;
    }
}



@media screen and (min-width:767px){
  span.title:hover{
    transform: scale(1);
    padding: -6px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    transition-duration: 0.2s;
  }
}

.title a span{
  font-size: 0.8rem;
}
@media screen and (min-width:767px){
  .title a span{
    font-size: 0.2rem;

  }
  }


span.title > ul {
  position: absolute;

  /* border: 1px solid black; */
  white-space: nowrap;
  top: 45px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px ;
  pointer-events: auto;
  opacity: 1;
  display: none;
  transition: transform 0.2s ease 2s;
}
@media screen and (max-width:767px){
  span.title > ul{
  width: 50%;
  display: flex;
  flex-direction: column;
  position:  sticky;
  }
}



@media screen and (min-width:768px){
  span.title:hover ul{
    display: block;
    pointer-events: auto;
    opacity: 1;
  }
}


  span.title a{
    flex-grow:1;
    text-decoration: none;
  }


  span.title ul li a{
    font-family: "serif.light";
    font-size: 1rem;
  }

/* ===============登入light box=============== */

  .sign_up{
    z-index: 120;
    /* border: 1px solid red; */
    position: fixed;
    top: 0px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: hsla(0, 0%, 0%, .5);
    display: none;
  }



    .sign_up article{
      padding: 30px;
      background-color: rgb(217, 217, 214);
      box-shadow: 0 0 10px rgb(59, 55, 42);
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%, -50%);
      
      width: 500px;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .sign_up article button.close{
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      /* border: none; */
      
    }

    article.sign_up_content button{
      position: relative;
      width: 25px;
      height: 25px;
      border: none;
      cursor: pointer;
    }
    .sign_up article div h1{
      display: flex;
      border-bottom:1px solid grey;
      width: 100%;
      justify-content: center;
    }
    article.sign_up_content div p{
      
      margin: 10px 0;
      
    }
    article.sign_up_content div{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      border: 1px solid plum;
      font-family: "serif.light";
      margin: 10px 0;

    }

    article.sign_up_content div .btn_return{
      cursor: pointer;
    }

    article.sign_up_content div.logo{
      /* border: 1px solid orange; */
      max-width: 30%;
      font-size: 0;
    }

    button.close span.-hr{
      height: 2px;
      width: 100%;
      background-color: white;
      display: inline-block;
      position: absolute;
      left: 0;
     
    }

    button.close span.-top{   
      
      transform: rotate(45deg);
    }
    button.close span.-bottom{
      
      transform: rotate(-45deg);

    }
  .sign_up article form{
    /* border: 1px solid yellow; */
    display: flex;
    width: 100%;
    flex-direction:column ;
    align-items: center;
  }

  .sign_up article form label{
    font-family: "serif.black";
    font-size: 1rem;
    display: flex;
    
    /* border: 1px solid red; */
    margin: 10px 0;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .sign_up article form input{
    font-family: "serif.light";
    
    margin: 10px 0;
    width: 70%;
    height: 40px;
  }

  .sign_up article form button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "serif.black";
    font-size: 1rem;
    padding: 20px;
    width: 70%;
  }
  div #forgot_password{
    cursor: pointer;
  }



  span.title ul li a.options:hover{
  text-decoration: underline;
  color: rgb(198 53 39);
  font-family: "serif.light";
  }

  span.title ul li{
    /* border: 1px solid red; */
    display: inline-block;
    padding: 0 8px;
    list-style: none;
  }

  @media screen and (max-width:767px){
    span.title ul li{
    padding: 0 ;
    }
  }






  /*============================== 搜尋框 ==============================*/

  .search{
    /* border: 1px solid blue; */
    display: inline-flex;
    justify-content: space-around;
    width: 20%;
  }
  .search input{
    font-family: "serif.black";
    width: 80%;
  }

  .search img.input_search{
    width: 15%;
  }

 .search .shoppingcar{
   width: 20%;
 }


 @media screen and (min-width:768px){
  .search_scrolldown{
    display: none;
  }
 }

@media screen and (max-width:767px){
  .search{
    display: none;
    width: 50%;
 }
  .search input{
    width: 100%;
  }




  .search_scrolldown{
    border: 1px solid orange;
    display: inline-flex;
    align-items: center;
    justify-content: right;
    width:100% ;

  }

  .search_scrolldown input{
    font-family: "serif.black";
    width: 30%;
    height: 60%;
  }
  
   .search_scrolldown .input_search{
      width: 5%; 
   }
  
   .search_scrolldown .shoppingcar{
     width: 5%;
   }
}
