@import "./all.css";




div.header{
  /* border : 1px solid green; */
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(217, 217, 214);
  position: sticky;
  z-index: 110;
  top:0;
  padding: 10px;
}


div.header.-scroll-down{
  flex-direction: row;
  box-shadow: 1px 1px 2px grey;
}


@media screen and (max-width:767px){
  div.header{
    display: inline-flex;
    background-color: rgb(217, 217, 214);
    align-items: flex-end;
    justify-content:space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

div.top{
  /* border: 1px solid brown; */
  width: 10%;
}



a.logo{
  display: flex;
  width: 70%;
  margin: 0 auto;
  /* font-size: 0; */
}

a.logo img{
  width: 100%;
  padding: 0;
}

@media screen and (max-width:767px){
  div.top{
    width: 15%;
    /* border: 1px solid green; */
    padding: 0;
  }

  a.logo{
    /* border: 1px solid yellow; */
    min-width: 45px;
    margin: 0 auto;
  }
}








/* 選單 */


.global_nav{
  /* border: 2px solid yellow; */

  display:  flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-bottom:10px;
  padding: 10px 0;
}


@media screen and (min-width:768px){


  .global_nav{
    display: flex !important;
  }
}

@media screen and (max-width:767px){

  .main_nav{
    width:70%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;

  }

  .global_nav{
    /* border: 1px solid blue; */
    width: 90%;
    display: none;
  }

}





span.title{
  letter-spacing: 1.5px;
  font-size: 1rem;
  font-family: "serif";
  font-weight: bold ;
  text-align: center;
  justify-content: center;
  /* border: 1px solid green; */
  position: relative;
  display: flex;
  width:10%;
  height: 100%;
  transition-duration: 0.2s;
}
@media screen and (max-width:767px){
  span.title{
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  flex-direction:row;
  margin: 8px 0;
  }
}



.hamburger_icon{

  display: none;
}
@media screen and (max-width:767px){
  .hamburger_icon{
    display: inline-block;
    /* border: 1px solid blue; */
    border: none;
    width: 55px;
    position: relative;
    cursor: pointer;
    outline: none;
    background: none;
  }

   button.hamburger_icon span.-hr{
    height: 2px;
    width: 80%;
    background-color: rgba(34, 50, 110, 1);
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

   button.hamburger_icon span.-hr.-top{
      top:25%;
    }

    button.hamburger_icon span.-hr.-bottom{
      top: 75%;
    }


    button.hamburger_icon.-on span.-hr.-top{
      transform-origin: 0% 50%;
      top: 5%;
      left:6px;
      width: 85%;
      transform: rotate(45deg);
      transition: transform .5s;
    }

    button.hamburger_icon.-on span.-hr.-middle{
      opacity:0;
    }

    button.hamburger_icon.-on span.-hr.-bottom{


      transform-origin: 0% 50%;
      bottom: 5%;
      left: 6px;
      width: 85%;
      transform: rotate(-45deg);
      transition: transform .5s;
      top: auto;
    }
}



@media screen and (min-width:767px){
  span.title:hover{
    transform: scale(1);
    padding: -6px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    transition-duration: 0.2s;
  }
}

.title a span{
  /* border: 1px solid orange; */
  font-size: .8rem;
  font-family: "serif.light";
}

@media screen and (max-width:414px){
  .title a span{
    font-size: 0.8rem;
    display: none;
  }
  
}


span.title > ul {
  position: absolute;
  margin-bottom: 0;
  /* border: 1px solid black; */
  white-space: nowrap;
  top: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px ;
  pointer-events: auto;
  opacity: 1;
  display: none;
  transition: transform 0.2s ease 2s;
}
@media screen and (max-width:767px){
  span.title > ul{
  width: 65%;
  display: flex;
  flex-direction: column;
  position:  sticky;
  }
}



@media screen and (min-width:768px){
  span.title:hover ul{
    display: block;
    pointer-events: auto;
    opacity: 1;
  }
}


  span.title a{
    flex-grow:1;
    text-decoration: none;
  }


  span.title ul li a{
    font-family: "serif";
    font-size: 1rem;
  }

/* ===============登入light box=============== */

  .sign_up{
    z-index: 120;
    /* border: 1px solid red; */
    position: fixed;
    top: 0px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: hsla(0, 0%, 0%, .5);
    display: none;
  }


  
    .sign_up article{
      padding: 30px;
      background-color: rgb(217, 217, 214);
      box-shadow: 0 0 10px rgb(59, 55, 42);
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%, -50%);
      max-width: 50%;
      max-height:100% ;
      display: flex;
      flex-direction: column;
      overflow:scroll;
      align-items: center;
    }
   
    @media (max-width:767px) {
      .sign_up article{
        min-width: 90%;
      }
    }
    .sign_up article button.close{
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      /* border: none; */
      
    }
    .sign_up article button{
      position: relative;
      width: 25px;
      height: 25px;
      border: none;
      cursor: pointer;
    }
    .sign_up article button:hover{
      background-color:whitesmoke;
    }
    .sign_up article div h1{
      display: flex;
      border-bottom:1px solid grey;
      width: 100%;
      height: 50px;
      justify-content: center;
    }
    .sign_up article div p{
      /* border: 1px solid plum; */
      text-align: center;
      width: 80%;
      margin: 10px 0;
      
    }
    article.sign_up_content{

      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      /* border: 1px solid plum; */
      font-family: "serif";
      margin: 10px 0;
      display: none;
    }

    
    article.forgot_password_content{

      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      /* border: 1px solid rgb(138, 7, 138); */
      font-family: "serif";
      margin: 10px 0;
      display: none;
    }
    div.reset_hint{
      /* border: 1px solid cadetblue; */
      width: 90%;
    }
    div.reset_hint p{
      text-align:left;
      white-space:pre-line;

    }
    .sign_up article div #return{
      cursor: pointer;
    }
    .sign_up article div.hint p:hover{
      color: rgb(194, 31, 3);
      
    }
    .sign_up article div{
      display: flex;
      flex-direction: column;
      align-items: center;
      /* border: 1px solid orange; */
      width: 100%;
    }
   
    .sign_up article div.logo{
      /* border: 1px solid rsed; */
      max-height: 160px;
      width: 30%;
      margin-bottom: 20px;
    }

    button.close span.-hr{
      height: 2px;
      width: 100%;
      background-color: white;
      display: inline-block;
      position: absolute;
      left: 0;
     
    }

    button.close span.-top{   
      
      transform: rotate(45deg);
    }
    button.close span.-bottom{
      
      transform: rotate(-45deg);

    }
  .sign_up article form{
    /* border: 1px solid yellow; */
    display: flex;
    width: 100%;
    flex-direction:column ;
    align-items: center;
  }

  .sign_up article form label{
    font-family: "serif";
    font-size: 1rem;
    display: flex;
    
    /* border: 1px solid red; */
    margin: 10px 0;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .sign_up article form input{
    font-family: "serif";
    margin: 10px 0;
    width: 70%;
    height: 40px;
  }

  .sign_up article form button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "serif";
    font-size: 1rem;
    padding: 20px;
    width: 70%;
  }
  div #forgot_password{
    cursor: pointer;
  }



  span.title ul li a.options:hover{
  text-decoration: underline;
  color: rgb(198 53 39);
  font-family: "serif";
  }

  span.title ul li{
    /* border: 1px solid red; */
    display: inline-block;
    padding: 0 8px;
    list-style: none;
  }

  @media screen and (max-width:767px){
    span.title ul li{
    padding: 0 ;
    }
  }






  /*============================== 搜尋框 ==============================*/

  .search{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
    width: 5%;
    align-items:center;
  }
  .search input{
    font-family: "serif";
    width: 80%;
    margin-right: 10px;
  }




 @media screen and (min-width:768px){
  .search_scrolldown{
    display: none;
  }
 }

@media screen and (max-width:767px){

  div.search{
    display: none;
  }

  

  .search_scrolldown input{
    font-family: "serif";
    width: 60%;
    height: 90%;
  }
  

  
   .search_scrolldown a{
    margin: 0 3px;
   }
}

@media (max-width:414px) {
  .search_scrolldown .input_search{
    /* border: 1px solid white; */
    width: 15%; 
 }

 .search_scrolldown .shoppingcar{
  display: flex;
  vertical-align: bottom;
  /* border: 1px solid white; */
  width: 15%;
 }

 div.search{
  display: none;
}

}
